td > span,
td > button,
td > img {
  vertical-align: middle;
}

.popup {
  width: 300px;
  height: auto;
  text-align: center;
}

.favicon {
  width: 16px;
  height: 16px;
}

.favicon-col {
  min-width: 43px;
}
